aiosqlite
aiohttp
backports.cached-property
beautifulsoup4
bs4
certifi
contextvars
gputil
google-generativeai
gtts
moviepy
nextcord
numpy
opencv-python
pillow
psutil
py-cpuinfo
pylsd-nova
pynacl
pytz
requests
translate
urllib3
websocket
nextlink
youtube-search-python
yt_dlp

# Local AI requirements
# Uncomment these if you plan on using local AI

# langchain
# langchain-community
# torch
# transformers
