pynacl
aiosqlite
discord
python-dotenv
pillow
langchain
requests
translate
yt_dlp
aiohttp
transformers
websocket
bs4
backports.cached-property
opencv-python
pytesseract
psutil
py-cpuinfo
gputil
youtube-search-python
telegram
python-telegram-bot
pytz
wavelink
certifi